In [15]:
import pandas as pd
import numpy as np

In [6]:
election_result_2012 = pd.read_csv('pennsylvania2012_turnout.csv',index_col='county')

In [7]:
election_result_2012.shape

(67, 8)

In [30]:
election_result_2012.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     67 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB

In [9]:
election_result_2012.head(10)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118
Berks,PA,163253,48.939376,49.528646,Romney,250356,65.208343,0.589269
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091

In [17]:
x = 4

In [18]:
y = 4

In [19]:
print(election_result_2012.iloc[x, y] == election_result_2012.loc['Bedford', 'winner'])

True

In [27]:
election_result_2012[['winner','total','voters']].head()

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

In [34]:
# Slice the row labels 'Perry' to 'Potter': p_counties
p_counties = election_result_2012['Perry':'Potter']

# Print the p_counties DataFrame
print(p_counties)
print('------------------------------------------------------------------->')
# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
p_counties_rev = election_result_2012['Potter':'Perry':-1]

# Print the p_counties_rev DataFrame
print(p_counties_rev)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175

                 margin
county
Perry         38.821272
Philadelphia  71.172800
Pike          10.978242
Potter        45.898681
------------------------------------------------------------------->
             state   total      Obama     Romney  winner   voters    turnout  \
county
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064

                 margin
county
Potter        45.898681
Pike          10.978242
Philadelphia  71.172800
Perry         38.821272

In [36]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election_result_2012.loc[:,:'Obama']

# Print the output of left_columns.head()
print(left_columns.head())
print('-------------------------------------------->')
# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election_result_2012.loc[:,'Obama':'winner']

# Print the output of middle_columns.head()
print(middle_columns.head())
print('----------------------------------------------------->>')
# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election_result_2012.loc[:,'Romney':]

# Print the output of right_columns.head()
print(right_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452
-------------------------------------------->
               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney
----------------------------------------------------->>
              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

In [43]:
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner','Obama','Romney']

# Create the new DataFrame: three_counties
three_counties = election_result_2012.loc[rows,cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

In [44]:
election = election_result_2012.copy()

In [49]:
election == election_result_2012

                state  total  Obama  Romney  winner  voters  turnout  margin
county
Adams            True   True   True    True    True    True     True    True
Allegheny        True   True   True    True    True    True     True    True
Armstrong        True   True   True    True    True    True     True    True
Beaver           True   True   True    True    True    True     True    True
Bedford          True   True   True    True    True    True     True    True
Berks            True   True   True    True    True    True     True    True
Blair            True   True   True    True    True    True     True    True
Bradford         True   True   True    True    True    True     True    True
Bucks            True   True   True    True    True    True     True    True
Butler           True   True   True    True    True    True     True    True
Cambria          True   True   True    True    True    True     True    True
Cameron          True   True   True    True    True    True     True    True
Carbon           True   True   True    True    True    True     True    True
Centre           True   True   True    True    True    True     True    True
Chester          True   True   True    True    True    True     True    True
Clarion          True   True   True    True    True    True     True    True
Clearfield       True   True   True    True    True    True     True    True
Clinton          True   True   True    True    True    True     True    True
Columbia         True   True   True    True    True    True     True    True
Crawford         True   True   True    True    True    True     True    True
Cumberland       True   True   True    True    True    True     True    True
Dauphin          True   True   True    True    True    True     True    True
Delaware         True   True   True    True    True    True     True    True
Elk              True   True   True    True    True    True     True    True
Erie             True   True   True    True    True    True     True    True
Fayette          True   True   True    True    True    True     True    True
Forest           True   True   True    True    True    True     True    True
Franklin         True   True   True    True    True    True     True    True
Fulton           True   True   True    True    True    True     True    True
Greene           True   True   True    True    True    True     True    True
...               ...    ...    ...     ...     ...     ...      ...     ...
Lebanon          True   True   True    True    True    True     True    True
Lehigh           True   True   True    True    True    True     True    True
Luzerne          True   True   True    True    True    True     True    True
Lycoming         True   True   True    True    True    True     True    True
McKean           True   True   True    True    True    True     True    True
Mercer           True   True   True    True    True    True     True    True
Mifflin          True   True   True    True    True    True     True    True
Monroe           True   True   True    True    True    True     True    True
Montgomery       True   True   True    True    True    True     True    True
Montour          True   True   True    True    True    True     True    True
Northampton      True   True   True    True    True    True     True    True
Northumberland   True   True   True    True    True    True     True    True
Perry            True   True   True    True    True    True     True    True
Philadelphia     True   True   True    True    True    True     True    True
Pike             True   True   True    True    True    True     True    True
Potter           True   True   True    True    True    True     True    True
Schuylkill       True   True   True    True    True    True     True    True
Snyder           True   True   True    True    True    True     True    True
Somerset         True   True   True    True    True    True     True    True
Sullivan         True   True   True    True    True    True     True    True
Susquehanna      True   True   True    True    True    True     True    True
Tioga            True   True   True    True    True    True     True    True
Union            True   True   True    True    True    True     True    True
Venango          True   True   True    True    True    True     True    True
Warren           True   True   True    True    True    True     True    True
Washington       True   True   True    True    True    True     True    True
Wayne            True   True   True    True    True    True     True    True
Westmoreland     True   True   True    True    True    True     True    True
Wyoming          True   True   True    True    True    True     True    True
York             True   True   True    True    True    True     True    True

[67 rows x 8 columns]

In [53]:
high_turnout = election_result_2012.turnout > 70

In [55]:
high_turnout.head()

county
Adams        False
Allegheny    False
Armstrong    False
Beaver       False
Bedford      False
Name: turnout, dtype: bool

In [56]:
high_turnout_df = election_result_2012[high_turnout]

In [58]:
high_turnout_df.head(15)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Bucks,PA,319407,49.966970,48.801686,Obama,435606,73.324748,1.165284
Butler,PA,88924,31.920516,66.816607,Romney,122762,72.436096,34.896091
Chester,PA,248295,49.228539,49.650617,Romney,337822,73.498766,0.422079
Forest,PA,2308,38.734835,59.835355,Romney,3232,71.410891,21.100520
Franklin,PA,62802,30.110506,68.583803,Romney,87406,71.850903,38.473297
Montgomery,PA,401787,56.637223,42.286834,Obama,551105,72.905708,14.350390
Westmoreland,PA,168709,37.567646,61.306154,Romney,238006,70.884347,23.738508

In [59]:
election_result_2012.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     67 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB

In [60]:
too_close = election_result_2012.margin < 1

In [61]:
too_close.head()

county
Adams        False
Allegheny    False
Armstrong    False
Beaver       False
Bedford      False
Name: margin, dtype: bool

In [63]:
too_close.shape

(67,)

In [64]:
too_close['winner'] = np.nan

In [65]:
election_result_2012.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     67 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB

In [66]:
# Import numpy

# Create the boolean array: too_close
too_close = election_result_2012['margin'] < 1

# Assign np.nan to the 'winner' column where the results were too close to call
election_result_2012.loc[too_close, 'winner'] = np.nan

# Print the output of election.info()
print(election_result_2012.info())

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB
None

In [67]:
titanic_dataset = pd.read_csv('titanic.csv')

In [69]:
# Select the 'age' and 'cabin' columns: df
df = titanic_dataset[['age','cabin']]

# Print the shape of df
print(df.shape)

# Drop rows in df with how='any' and print the shape
print(df.dropna(how='any').shape)

# Drop rows in df with how='all' and print the shape
print(df.dropna(how='all').shape)

# Drop columns in titanic with less than 1000 non-missing values
print(titanic_dataset.dropna(thresh=1000, axis='columns').info())

(1309, 2)
(272, 2)
(1069, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB
None

In [70]:
titanic_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [71]:
weather_dataset = pd.read_csv('Weather_Data_pittsburgh2013.csv')

In [72]:
# Write a function to convert degrees Fahrenheit to degrees Celsius: to_celsius
def to_celsius(F):
    return 5/9*(F - 32)

# Apply the function over 'Mean TemperatureF' and 'Mean Dew PointF': df_celsius
df_celsius = weather_dataset[['Mean TemperatureF', 'Mean Dew PointF']].apply(to_celsius)

# Reassign the columns df_celsius
df_celsius.columns = ['Mean TemperatureC', 'Mean Dew PointC']

# Print the output of df_celsius.head()
print(df_celsius.head())

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

In [73]:
print(weather_dataset.head())

       Date  Max TemperatureF  Mean TemperatureF  Min TemperatureF  \
0  2013-1-1                32                 28                21
1  2013-1-2                25                 21                17
2  2013-1-3                32                 24                16
3  2013-1-4                30                 28                27
4  2013-1-5                34                 30                25

   Max Dew PointF  Mean Dew PointF  Min DewpointF  Max Humidity  \
0              30               27             16           100
1              14               12             10            77
2              19               15              9            77
3              21               19             17            75
4              23               20             16            75

   Mean Humidity  Min Humidity       ...        Max VisibilityMiles  \
0             89            77       ...                         10
1             67            55       ...                         10
2             67            56       ...                         10
3             68            59       ...                         10
4             68            61       ...                         10

   Mean VisibilityMiles  Min VisibilityMiles  Max Wind SpeedMPH  \
0                     6                    2                 10
1                    10                   10                 14
2                    10                   10                 17
3                    10                    6                 23
4                    10                   10                 16

   Mean Wind SpeedMPH  Max Gust SpeedMPH  PrecipitationIn   CloudCover  \
0                   8                NaN             0.00            8
1                   5                NaN             0.00            4
2                   8               26.0             0.00            3
3                  16               32.0             0.00            4
4                  10               23.0             0.21            5

   Events  WindDirDegrees
0    Snow             277
1     NaN             272
2     NaN             229
3     NaN             250
4     NaN             221

[5 rows x 23 columns]

In [74]:
print(weather_dataset.shape)

(365, 23)